In [1]:
2+1

3

In [2]:
50%5

0

In [3]:
50/5

10.0

In [5]:
mystring = "Hello World"

In [12]:
mystring[1:]

'ello World'

In [13]:
# start stop jump  [1:5:7]

In [15]:
name = 'Sam'

In [16]:
last_name = name[1:]

In [18]:
last_name

'am'

In [20]:
'P'+last_name

'Pam'

In [21]:
x = 'Hello World'

In [27]:
x = x + "it's good to know people around"

In [28]:
x

"Hello Worldit's good to know people around it's good to know people aroundit's good to know people around"

In [29]:
x

"Hello Worldit's good to know people around it's good to know people aroundit's good to know people around"

In [31]:
letter = 'z'

In [33]:
letter * 100

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [4]:
y = 'Hello World'

In [2]:
y.lower()

'hello world'

In [5]:
y.capitalize()

'Hello world'

In [40]:
y = 'I am bored as hell'

In [41]:
y.split()

['I', 'am', 'bored', 'as', 'hell']

In [43]:
y.split('a')

['I ', 'm bored ', 's hell']

In [ ]:
#Good Way to Format objects into your strings for print statements is with the string .format() method

In [ ]:
# Syntax

#String is here {} then also {}. format ('add1','add2')

In [45]:
print('This is my life {}'.format('cool'))

This is my life cool

In [47]:
print( 'This {0} {2} {1}'.format('me','mine','myself'))

This me, myself, mine

In [ ]:
# Defining with the varable name

In [51]:
print('This is {a} {b} {c}'. format(a = 'me', b = 'mine', c = 'myself'))

This is me mine myself

In [52]:
#Float formatting follows "{value:width.precision f}"

In [54]:
result = 1000/777

In [55]:
result

1.287001287001287

In [63]:
print('The result is {r:1.4f}'.format(r = result))

The result is 1.2870

In [64]:
# for python 3.6

In [65]:
name = 'Sherry'

In [69]:
print(f'Hello! My name is {name}')

Hello! My name is Sherry

In [71]:
name = 'Sherry'
age = 29
city = 'dubai'

In [72]:
print(f'Hello am {name} and am {age} lives in {city}')

Hello am Sherry and am 29 lives in dubai

In [73]:
# Lists

In [74]:
my_list = ['one', 'two', 'three']

In [75]:
my_list

['one', 'two', 'three']

In [80]:
my_list[1] #indexing

'two'

In [76]:
my_list[1:]  #slicing

['two', 'three']

In [77]:
another_list=['four','five']

In [84]:
list = my_list+another_list   #concatenation

In [79]:
list

['one', 'two', 'three', 'four', 'five']

In [81]:
another_list[1]  = 'I AM SHERRY'

In [82]:
another_list

['four', 'I AM SHERRY']

In [85]:
list

['one', 'two', 'three', 'four', 'I AM SHERRY']

In [86]:
another_list.append('six')   #append method allows you to add elements at the end

In [87]:
another_list

['four', 'I AM SHERRY', 'six']

In [88]:
another_list.pop()   #pop method allows you to eleminate new element added

'six'

In [89]:
another_list

['four', 'I AM SHERRY']

In [90]:
another_list.pop(1)

'I AM SHERRY'

In [91]:
another_list

['four']

In [92]:
new_list = ['a', 'c', 'd' , 'b']
num_list = [4,10,3,5]

In [94]:
num_list.sort()

In [95]:
num_list

[3, 4, 5, 10]

In [96]:
new_list.sort()

In [97]:
new_list

['a', 'b', 'c', 'd']

In [98]:
num_list.reverse()

In [99]:
num_list

[10, 5, 4, 3]

In [1]:
#When to choose dictoneries and lists ?
#Dictionaries : objects retrieved by key name  [Unordered and cannot be sorted]
#Lists : objects retrieved by location [Ordered seq can be indexed and sliced]

# keys should always be strings
# Dictionaries are mappings and do not retain order! In case you want then orderddict

In [2]:
prices_lookup = {"apples": 60, "oranges": 30, "strawberries": 40}

In [3]:
prices_lookup["apples"]

60

In [6]:
a = {'k1':'apples', 'k2':['a', 2, 'sherry'], 'k3':{'b': 'love coding'}}

In [8]:
a['k3']

{'b': 'love coding'}

In [9]:
a['k3']['b']

'love coding'

In [10]:
b = {'key1': ['a', 'e' , 'r']} #defined dictionery

In [11]:
b

{'key1': ['a', 'e', 'r']}

In [18]:
my_list = b['key1'] #made it into list from dictionery

In [19]:
my_list

['a', 'e', 'r']

In [22]:
letter = my_list[2] #indexing to grab a letter

In [23]:
letter

'r'

In [24]:
#Another way of doing it 

b['key1']

['a', 'e', 'r']

In [27]:
b['key1'][1].upper()  #.upper or lower in case

'E'

In [28]:
b = {'key1' : 200, 'key2': 300}

In [29]:
b

{'key1': 200, 'key2': 300}

In [30]:
b['key3'] = 400  # you can define string as well

In [31]:
b

{'key1': 200, 'key2': 300, 'key3': 400}

In [32]:
b.keys()

dict_keys(['key1', 'key2', 'key3'])

In [33]:
b.values()

dict_values([200, 300, 400])

In [34]:
b.items()

dict_items([('key1', 200), ('key2', 300), ('key3', 400)])

In [35]:
# Tuples are very similar to lists. The difference is tuples are immutable 
# Once element is inside a tuple , you cant reassign
# tuples use paranthesis (1,4,5)

In [36]:
t = (1,2,3)

In [37]:
my_list = [1,2,3]

In [38]:
type(t)

tuple

In [39]:
type(my_list)

list

In [40]:
t[1]

2

In [41]:
t = ('a','a','b','c','d','d','d')

In [42]:
t.count('a')

2

In [45]:
t.index('a')

0

In [46]:
my_list.count(1)

1

In [49]:
my_list[0]   # you dont have t mention .index in lists unlike tuples

1

In [50]:
# you can't assign new value in the tuples unlike lists
# Eg t[0]=new value (it will throw error but in lists it's okay to assign new value)
# tuples are used for fixed locations and data integrity

In [51]:
#sets are unoredered collections of unique elements 
# meaning there can be only one representative of the same object

In [52]:
myset = set()

In [53]:
myset

set()

In [55]:
myset.add(1)

In [56]:
myset.add(2)

In [57]:
myset

{1, 2}

In [58]:
mylist = [1,1,2,2,2,2,3,3,3]

In [59]:
set(mylist)          # set just return the unique elements and these are all unordered elements

{1, 2, 3}

In [ ]:
#booleans

In [61]:
True

True

In [62]:
False

False

In [63]:
type(True)

bool

In [64]:
10 > 50

False

In [65]:
2 == 4

False

In [68]:
%%writefile my_file.txt
Hello! Im coding
This is fun
And its pretty simple

Overwriting my_file.txt

In [69]:
my_file = open('my_file.txt')

In [70]:
#the file and the jupyter notebook should be in the same directory otherwise the open function will throw error
#to check where jupyter notebook is, just use command pwd

In [71]:
pwd

'C:\\Users\\hp'

In [72]:
my_file = open('my_file.txt')

In [73]:
my_file.read()

'Hello! Im coding\nThis is fun\nAnd its pretty simple\n'

In [74]:
my_file.seek(0)     #this is to set the cursor from the beginning of the file

0

In [75]:
my_file.read()

'Hello! Im coding\nThis is fun\nAnd its pretty simple\n'

In [77]:
my_file.seek(0)

0

In [78]:
my_file.readlines()

['Hello! Im coding\n', 'This is fun\n', 'And its pretty simple\n']

In [79]:
# method of closing the file
# or you define it in some other way so you dont have to wrry abou closing

In [80]:
my_file.close()

In [81]:
with open('my_file.txt') as my_new_file:
    contents = my_new_file.read()

In [89]:
with open('my_file.txt', mode='r') as newfile: # shift+tab to after open( to se the mode
    contents = newfile.read()

In [90]:
contents

''

In [91]:
# 'mode' = r is to read only
# 'mode' = w is to write only (overwrites file or create new)
# 'mode' = a is to append meaning add on to files
# 'mode' = r+ is to reading and writing
# 'mode' = w+ is to writing and reading(overwrites an existing file or creates a new file) )

In [93]:
%%writefile my_new_file.txt
Me
Mine
And Myself

Overwriting my_new_file.txt

In [94]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

Me
Mine
And Myself

In [95]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('Sherry')

In [96]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

Me
Mine
And Myself
Sherry

In [97]:
with open('abc.txt', mode = 'w') as f:
    f.write('Python is fun')

In [98]:
with open('abc.txt', mode = 'r') as f:
    print(f.read())

Python is fun

In [99]:
#More readng

#Basic Practice:

#http://codingbat.com/python

#More Mathematical (and Harder) Practice:

#https://projecteuler.net/archives

#List of Practice Problems:

#http://www.codeabbey.com/index/task_list

#A SubReddit Devoted to Daily Practice Problems:

#https://www.reddit.com/r/dailyprogrammer

##A very tricky website with very few hints and touch problems (Not for beginners but still interesting)

#http://www.pythonchallenge.com/

In [100]:
1==1 and 2==3

False

In [101]:
100 == 1 or 200 == 200

True

In [102]:
not 1==1 #not operator will give the opposite

False

In [103]:
#syntax of an if/else statement
#  if some_condtion
    # execute some code
#   else: 
     #do something

In [104]:
sleep = True

if sleep:
    print('snooze')
else:
    print('alarm')

snooze

In [105]:
name = "Sherry"

if name == "Neer":
    print("Hello Neer!")
elif name == "Sherry":
    print ("Hello Sherry!")
else:
    print("What is your name?")

Hello Sherry!

In [106]:
# Syntax for For loops
# can iterate over every character in the strng, every element in list and every key value in dict

#my_iterable = [1,2,3]
#for item_name in my_iterable:
#  print(item_name)

In [107]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [108]:
for num in my_list:
    print("this is number")

this is number
this is number
this is number
this is number
this is number
this is number
this is number
this is number
this is number
this is number

In [112]:
for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f'This is odd:{num}')

This is odd:1
2
This is odd:3
4
This is odd:5
6
This is odd:7
8
This is odd:9
10

In [113]:
list_sum = 100

for num in my_list:
    list_sum = list_sum + num
    print(list_sum)

101
103
106
110
115
121
128
136
145
155

In [114]:
list_sum = 100

for num in my_list:
    list_sum = list_sum + num
print(list_sum)

155

In [115]:
# 3 ways with string and for loops    

# By assigning a variable

say = "Hello World"

for character in say:
    print(character)

H
e
l
l
o

W
o
r
l
d

In [116]:
# by not assigning variable

for character in "Hello World":
    print(character)

H
e
l
l
o

W
o
r
l
d

In [117]:
# by assigning no variable name

for _ in "Hello World":
    print('Freek')

Freek
Freek
Freek
Freek
Freek
Freek
Freek
Freek
Freek
Freek
Freek

In [119]:
my_tuple = (1,2,3)

for item in my_tuple:
    print(item)

1
2
3

In [120]:
my_list = [(1,2), (3,4), (5,6)]

In [121]:
len(my_list)

3

In [122]:
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [123]:
#tuple unpacking
# way1 

for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6

In [124]:
# way2 

for a,b in my_list:
    print(b)

2
4
6

In [125]:
my_dict = {'k1':10, 'k2':20, 'k3':40}

In [126]:
for items in my_dict:
    print(items)

k1
k2
k3

In [137]:
dic = {'k1':10, 'k2':20, 'k3':40}

for key in dic.keys():
    print(key)

k1
k2
k3

In [138]:
dic = {'k1':10, 'k2':20, 'k3':40}

for value in dic.values():
    print(value)

10
20
40

In [139]:
dic = {'k1':10, 'k2':20, 'k3':40}

for item in dic.items():
    print(item)

('k1', 10)
('k2', 20)
('k3', 40)

In [140]:
#while loops will execute while some codition is true
#syntax

# while some_boolean conditon:
   # do something
# else:
    # do something different

In [143]:
x = 10

while x < 50:
    print(f'the value of x is {x}')
    x += 10

the value of x is 10
the value of x is 20
the value of x is 30
the value of x is 40

In [144]:
#use of break, continue and pass

# break: breaks out of the current closest loop
# continue: goes to the top of the closet enlosed loop
# pass: nothing does at all

In [145]:
my_name = 'Sherry'

In [147]:
for letter in my_name:
    if letter == 'r':
        continue
    print(letter)

S
h
e
y

In [148]:
for letter in my_name:
    if letter == 'r':
        pass
    print(letter)

S
h
e
r
r
y

In [149]:
for letter in my_name:
    if letter == 'r':
        break
    print(letter)

S
h
e

In [150]:
my_list = [1,2,3]

In [151]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [153]:
for num in range(0,100,10):
    print(num)  # range with lower and upper with the step size

0
10
20
30
40
50
60
70
80
90

In [156]:
#First way of indexing

index_count = 0

for letter in 'abcd':
    print('The index {} in the letter {}'.format(index_count,letter))
    index_count += 1

The index 0 in the letter a
The index 1 in the letter b
The index 2 in the letter c
The index 3 in the letter d

In [161]:
#second way of indexing

index_count = 0
word = 'abcd'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d

In [163]:
index_count = 0
word = 'abcd'

for letter in word:
    print(index_count)
    index_count += 1

0
1
2
3

In [164]:
#using enumerate to return the object and index (index,letter)

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [166]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

In [169]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c','d','e']
mylist3 = [100, 200, 300, 400, 500]

In [170]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [172]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300), (4, 'd', 400), (5, 'e', 500)]

In [178]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c
d
e

In [179]:
# in operator

x in [1,2,3]  #in in list

False

In [181]:
'x' in ['x', 'y', 'z']

True

In [183]:
's' in 'sherry'  # in operator in string

True

In [184]:
'mykey' in {'mykey': 365}  # in oprator in dictioneries

True

In [188]:
mydict = {'mykey': 365}

365 in mydict.values()

True

In [189]:
mylist = [100, 200, 300, 400, 500]

In [192]:
max (mylist)

500

In [193]:
min(mylist)

100

In [194]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]

In [195]:
shuffle(mylist)

In [196]:
mylist

[2, 9, 4, 1, 8, 5, 6, 7, 10, 3]

In [199]:
from random import randint

mynum = randint(1,100)

In [201]:
mynum

37

In [202]:
# input operator always except something as a string

result1 = input('What is your name?')
result2 = input('Where you live?')

What is your name?sherry
Where you live?dxb

In [203]:
result1

'sherry'

In [204]:
result2

'dxb'

In [206]:
type(result1)

str

In [207]:
result = input('How much you scored in Maths?')

How much you scored in Maths?100

In [208]:
type(result)

str

In [209]:
int(result)

100

In [210]:
#list comprehensions are a unique way of quikly creating a list
#if you find yourself using a for loop along with .append() to create a list, list comprehensons are a good way

In [211]:
mystring = 'Beautiful Day'

In [214]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [215]:
mylist

['B', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', ' ', 'D', 'a', 'y']

In [216]:
#other way of doing it
#element for element in string

mylist = [letter for letter in 'Beautiful Day']

In [217]:
mylist

['B', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', ' ', 'D', 'a', 'y']

In [224]:
mylist = [num for num in range(1,10)]

#the first num actually acts as an append (as in for loop)

In [225]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [226]:
mylist = [num+2 for num in range(1,10)]

In [227]:
mylist

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [230]:
mylist = [num for num in range(1,10) if num%2 == 1]

In [231]:
mylist

[1, 3, 5, 7, 9]

In [232]:
celcius = [0, 10, 20, 34.5]

fahrenheit = [ ((9/5)*temp + 32) for temp in celcius]

In [233]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [240]:
# nested loops
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [241]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]