In [ ]:
Numbers: 1,23,100
Strings: 'a','sherry'
lists: [1,'sherry',100,'b']
tuples: (1,2,'a',100.25)
dictioneries: {key1:'a',key2:(2,4,5),key3:{num:(2,3,4.9,100)}}

In [3]:
# To get the answer equal to 100.25

0.25 + 1000/10 *1 - 0

100.25

In [4]:
10000/10

1000.0

In [5]:
4 * (6 + 5)

44

In [6]:
4 * 6 + 5

29

In [7]:
 4 + 6 * 5

34

In [8]:
3 + 1.5 + 4

8.5

In [9]:
# What would you use to find a numberâ€™s square root, as well as its square? 
#square
8**2

64

In [12]:
#square root
4//2

2

In [13]:
#Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:
s = 'hello'

In [14]:
s[1]

'e'

In [19]:
#Reverse the string 'hello' using slicing:
s[::-1]

'olleh'

In [20]:
#Given the string hello, give two methods of producing the letter 'o' using indexing.

#method1 

s[4]

'o'

In [21]:
#method2
s[-1]

'o'

In [111]:
#Build this list [0,0,0] two separate ways.

#method1
[0]*3

[0, 0, 0]

In [23]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]

In [35]:
new_list = list3[2]

In [36]:
new_list

[3, 4, 'hello']

In [112]:
list3[2][2]

'goodbye'

In [37]:
new_list[2] = 'goodbye'

In [38]:
new_list

[3, 4, 'goodbye']

In [39]:
list3

[1, 2, [3, 4, 'goodbye']]

In [40]:
#Sort the list below:
list4 = [5,3,4,6,1]

In [41]:
list4.sort()

In [42]:
list4

[1, 3, 4, 5, 6]

In [43]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [44]:
d.values()

dict_values(['hello'])

In [45]:
d = {'k1':{'k2':'hello'}}

In [50]:
d['k1']['k2']

'hello'

In [118]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [119]:
d['k1'][0]['nest_key'][1]

['hello']

In [61]:
my_dict = d['k1'][0]

In [62]:
my_dict

{'nest_key': ['this is deep', ['hello']]}

In [65]:
my_dict['nest_key'][1]

['hello']

In [66]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [114]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [69]:
my_dict = d['k1'][2]

In [70]:
my_dict

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [76]:
y = my_dict['k2'][1]

In [77]:
y['tough'][2]

['hello']

In [102]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [113]:
set(list5)

TypeError: 'set' object is not callable

In [104]:
2 > 3

False

In [105]:
3 <= 2

False

In [106]:
3 == 2.0

False

In [107]:
3 == 2.0

False

In [108]:
4**0.5 != 2

False

In [109]:
 # two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [110]:
l_one[2][0] >= l_two[2]['k1']

False

In [ ]:
 m